<nav class="navbar navbar-expand-lg navbar-custom bgc-secondary">
  <div class="container-fluid">
    <div class="navbar-brand">
        <a class="navbar-brand" href="/">
          <img src="{{logo}}" alt="" class="navbar-brand-logo"> 
          <span class="fnt-white">{{title}}</span></a>        
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fnt-primary fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn nav-link fnt-white fnt-grey-hvr fnt-primary-fcs text-end" href="#">Products</a>
        </li>
        <li class="nav-item btn-group">
          <a class="btn nav-link fnt-white fnt-grey-hvr fnt-primary-fcs text-end dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">Collections</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="btn nav-link fnt-white fnt-grey-hvr fnt-primary-fcs text-end" href="#">Cart</a>
        </li>
        <li class="nav-item text-end">
          <a class="btn bgc-primary fnt-white fnt-secondary-hvr fnt-primary-fcs" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

